/* label color */
/* line 3, /home/carlos/storeSB/app/assets/stylesheets/form_style.scss */
.input-field label {
  color: #1b5e20 !important;
}

/* label focus color */
/* line 7, /home/carlos/storeSB/app/assets/stylesheets/form_style.scss */
.input-field input:focus + label {
  color: #1b5e20 !important;
}

/* label underline focus color */
/* line 12, /home/carlos/storeSB/app/assets/stylesheets/form_style.scss */
.input-field input:focus {
  border-bottom: 1px solid #1b5e20 !important;
  box-shadow: 0 1px 0 0 #1b5e20 !important;
}

/* valid color */
/* line 20, /home/carlos/storeSB/app/assets/stylesheets/form_style.scss */
.input-field input.valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* invalid color */
/* line 26, /home/carlos/storeSB/app/assets/stylesheets/form_style.scss */
.input-field input.invalid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}
/* line 1, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 7, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
main {
  flex: 1 0 auto;
}

/* line 11, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.titulo-index {
  font-family: 'Droid Serif', serif;
  margin-top: 1em;
}

/* line 16, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.logo {
  margin-left: 0.5em;
}

/* line 20, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.espacio {
  margin-top: 3em;
}

/* line 23, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.espacio1 {
  margin-top: 2em;
}

/* line 26, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.final {
  height: 120px;
  width: 100%;
}

/* line 31, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.altura {
  height: 100px !important;
}

/* line 35, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.quitar-top {
  margin-top: 0px !important;
}

/* line 39, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.mensaje {
  background-color: white;
  font-size: 15px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 
 */


 
