/* line 2, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.titulo-index {
  font-family: 'Droid Serif', serif;
  margin-top: 1em;
}

/* line 7, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.logo {
  margin-left: 0.5em;
}

/* line 11, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.espacio {
  margin-top: 3em;
}

/* line 14, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.espacio1 {
  margin-top: 2em;
}

/* line 17, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.final {
  height: 120px;
  width: 100%;
}

/* line 22, /home/carlos/storeSB/app/assets/stylesheets/style.scss */
.altura {
  height: 100px !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 
 */


 
