<footer class="page-footer blue-grey darken-4 quitar-top">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Encuentranos en:</h5>
        <p class="grey-text text-lighten-4"> Jr. silvino Alva 271 - San Benito </p>
        <p class="grey-text text-lighten-4"> A media cuadra de la Salida de San Benito </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Redes Sociales</h5>
        <ul>
          <li><a href="#"><%=image_tag "twitter.png", height:"15px",width:"15px"%> Síguenos en Twitter!</a></li>
          <li><a href="https://www.facebook.com/San-Benito-275650979121272/timeline/"><%=image_tag "facebook.jpg", height:"15px",width:"15px"%>Visítanos en Facebook</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-3">
    <div class="container">
    © Tienda San Benito 2015. Todos los derechos reservados. creado por 
    <a href="https://www.facebook.com/carloseduardo.plasenciaprado"> CarlosPlasencia</a> Design
    </div>
  </div>
</footer>
            