

.titulo-index{
 	font-family: 'Droid Serif', serif;
	margin-top: 1em;
}

.logo{
	margin-left: 0.5em;
}

.espacio{
	margin-top: 3em;
}
.espacio1{
	margin-top: 2em;
}
.final{
	height: 120px;
	width:  100%;
}

.altura{
   height: 100px !important;
}

.quitar-top{
	margin-top: 0px !important; 
}

.mensaje{
	background-color: white;
	font-size: 15px;
}

.card-padding{
	padding: 0px !important;
	margin-left: 15px !important;
	margin-right: 15px !important; 
}