.titulo-index{
 	font-family: 'Droid Serif', serif;
	margin-top: 1em;
}

.logo{
	margin-left: 0.5em;
}

.espacio{
	margin-top: 3em;
}
.espacio1{
	margin-top: 2em;
}
.final{
	height: 120px;
	width:  100%;
}

.altura{
   height: 100px !important;
}

.quitar-top{
	margin-top: 0px !important; 
}

.mensaje{
	background-color: white;
	font-size: 15px;
}

.card-padding{
	padding: 0px !important;
	margin-left: 15px !important;
	margin-right: 15px !important; 
}

.cambioColor {color:white !important;}
.cambioColor:hover {color:#1b5e20 !important;background-color: white !important;}

.dropdown-content li > a{
    
    font-size: 1rem !important;
    padding: 0.7rem !important;
}

.nav-heigth{
    height: 100px !important;
    line-height: 45px !important;

}

.navbar-fixed {
    height: 50px !important;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 50px !important;
    line-height: 48px !important;
}

.parallax-container{
	width: 100% !important;
}

#li-from{
	height: 50px !important;
}

.nav-top{
	top: 0px !important;
}